<h4>Post details:</h4>
<br>

	<%= @row['content'] %>
	<br>
	<br>
	Added at: <%= @row['created_data'] %>

<br>
<h4>Comments:</h4>	
<br>
<% @comments.each do |com| %>
		<p>
		<i> <%= com['comment'] %> </i>
		<br>
		<br>
		<span style="font-size: 75%; color: #999">Added at: <%= com['created_data'] %></span>
		<hr />
<% end %>

<form action="/details/<%= @row['id'] %>" method="POST">
  <div class="form-group">
    <textarea name="comment" class="form-control" rows="2" placeholder="Tipe comment text here..."></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>	